<a href="https://colab.research.google.com/github/sinnamone/MasterHomeWork/blob/master/transfermarkt_merge_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
from google.colab import drive
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at drive

In [ ]:
import pandas as pd

In [ ]:
liga = pd.read_csv("drive/My Drive/liga.csv",sep="\t",header=0)

In [ ]:
liga = pd.read_csv("drive/My Drive/liga.csv",sep="\t",header=0)
premier_league = pd.read_csv("drive/My Drive/premier_league.csv",sep="\t",header=0)
serie_a = pd.read_csv("drive/My Drive/serie_a.csv",sep="\t",header=0)
ligue1 = pd.read_csv("drive/My Drive/ligue1.csv",sep="\t",header=0)
bundesliga = pd.read_csv("drive/My Drive/bundesliga.csv",sep="\t",header=0)

In [ ]:
top_club = pd.concat([liga,premier_league,serie_a,ligue1,bundesliga],ignore_index=True)

In [ ]:
top_club.head()

         Nome_squadra  ... Valore_di_mercato_medio
0      Real Madrid CF  ...             31,75 mln €
1       FC Barcellona  ...             31,01 mln €
2  Atlético de Madrid  ...             24,65 mln €
3         Valencia CF  ...             12,63 mln €
4       Real Sociedad  ...             11,28 mln €

[5 rows x 8 columns]

In [ ]:
top_club['Valore_rosa'] = top_club['Valore_rosa'].map(lambda x: x.rstrip(' €'))

In [ ]:
top_club.to_csv("drive/My Drive/top_club.csv",index=False,header=True,sep="\t")